<!doctype html>
<html lang="ko" xmlns:layout="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <title>Hello, sbb!</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-ligth bg-light border-bottom">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">YEOP</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            layout:aria-controls="navbarSupportedContent" layout:aria-expanded="false"
            layout:aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" layout:id="navbarSupportedContent">
                <ul class="navbar-nav me-auto me-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">로그인</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
 <th:block layout:fragment="content"></th:block>
</body>

</html>