<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>jae yeop SBB</title>
</head>
<body>
<!--nav바 -->
<nav th:replace="~{navbar :: navbarFragment}"></nav>
<!-- 기본 템플릿 안에 삽입될 내용 시작 -->
<th:block layout:fragment="content"></th:block>
<!-- 기본 템플릿 안에 삽입될 내용 끝 -->

<!-- 부트스트랩 JS 및 Popper.js 포함 -->
<script th:src="@{/bootstrap.min.js}"></script>

<!-- js 시작 -->
<th:block layout:fragment="script" ></th:block>
<!-- js 끝 -->
</body>
</html>
